.fotografije{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    overflow: hidden;
    width: 30%;
    padding-left: 35%;
    padding-right: 35%;
}

.slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.kartica{
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 500px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.kartica1{
    margin-left: 33%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
.kartica1 img{
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 10px;
    object-fit: cover;
}

.kartica img{
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 10px;
    object-fit: cover;
}
.nav-buttons {
    position: absolute;
    top: 60%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.nav-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}