#Omotac{
    max-width: 100%;
    min-height: 80vh;
    background-image: url('../Slike/ivan-torres-MQUqbmszGGM-unsplash.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    position: relative;
}
#Tekst{
    color: rgb(167, 143, 37);
    font-family: Roboto, sans-serif;
    text-align: left;
    background-color: rgba(0,0,0,0.3);
    width: 40%;
    height: 80vh;
}

#tekst{
    margin-top: 20%;
    margin-left: 30px;
}
#slogan{
    font-size: 80px;
    margin-left: 15px;
}


footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #244970;
    color: wheat;
    justify-content: center;
    gap: 20px;
    font-size: 20px;
    position: relative;
    bottom: 0;
    max-width: 100%;
}

footer img{
    height: auto;
    margin-bottom: 15px;
}
.static{
    display: flex;
    justify-content: center;
    gap: 20px;
    bottom: 0;
    font-size: 14px;
    margin-top: 90px;
    margin-left: -540px;
}


@media only screen and (max-width: 700px){
    #slika{
        display: none;
    }
    #Omotac{
        grid-template-columns: 1fr;
    }
    #OmotacZaDrugiDeo{
        grid-template-columns: 1fr;
        padding: 0;
    }
    #Tekst{
        display: flex;
        justify-content: center;
    }

    footer{
        display: flex;
        color: wheat;
        justify-content: center;
        gap: 20px;
        font-size: 14px;
        position: relative;
        bottom: 0;
    }
    footer img{
        display: none;
    }
    address{
        display: none;
    }
    .static{
        margin: 0;
        display: flex;
        justify-content: center;
    }
}