body {
    font-family: 'Georgia', serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #7a3237;
}
main {
    max-width: 800px;
    margin: 60px auto;
    padding: 60px 40px;
    background-color: antiquewhite;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
}
#kontakt h2 {
    font-size: 3rem;
    color: #7a3237;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
#kontakt p {
    font-size: 1.4rem;
    font-weight: normal;
    margin-bottom: 15px;
}
#kontakt .social-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}
#kontakt a img {
    width: 50px;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
#fb{
    margin-bottom: 11px;
}
#kontakt a img:hover {
    transform: scale(1.1);
    opacity: 0.85;
}
#link {
    display: inline-block;
    padding: 18px 50px;
    background-color: #7a3237;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 50px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#link:hover {
    background-color: #9d4752;
    transform: translateY(-2px);
}
#link:focus {
    outline: none;
}
@media (max-width: 700px) {
    main {
        padding: 10px;
        max-width: 85%;
    }
    #kontakt h2 {
        font-size: 2.5rem;
    }
    #kontakt p {
        font-size: 1.2rem;
    }
    #link {
        font-size: 1.2rem;
    }
}

