@media only screen and (min-width: 700px){
    body{
        background-color: #FFF8EE;
    }
    
    .PreNav{
        background-color: #CC3333;
        height: 25px;
    }
    .PreNavigacije{
        display: flex;
        list-style-type: none;
        gap: 30px;
        padding-top: 2px;
        justify-content: center;
        align-items: center;
    }
    .PreNavLi img{
        width: 10px;
    }
    nav {
        background-color:#FFF8EE;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .ListaNavigacija{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }
    .LinkNavigacija{
        position: relative;
        text-align: justify;
        color: #2A435D;
        font-family: Roboto, sans-serif;
        text-decoration: none;
    }

    .LinkNavigacija:before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #CC3333;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.5s ease-out;
    }
    .LinkNavigacija:hover:before{
        transform: scaleX(1);
    }
    .LinkNavigacija:hover{
        background-color: #e6e6e6;
    }

    img{
        width: 120px;
    }
    .topnav{
        display: none;
    }
    a:visited{
        color: #244970;
    }
    a:hover{
        color: #CC3333;
    }
    a #dugme:visited{
        color: beige;
    }

    footer{
        display: flex;
        background-color: #183553;
        color: wheat;
        justify-content: center;
        gap: 20px;
        font-size: 14px;
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
   
}