.baner{
    margin-top: 10px;
    width: 100%;
    min-height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.baner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:url('../Slike/oNamaBaner.jpg') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.60;
    z-index: -1;
}

.baner h2{
    color: black;
    font-family: Roboto, serif;
    font-size: 30px;
}

.Tabela1{
    margin-top: 20px;
    margin-left: 200px; 
    display: flex;
    border: 2px solid #d20000;
    border-radius: 10px;
    border-collapse: collapse;
    padding: 15px;
    width: 80%;
}

.Tabela1 td{
    font-family: Roboto, sans-serif;
    padding: 15px;
    vertical-align: top;
}
#kolonaSlika{
    width: 40%;
}

#slikaTabela{
    width: 80%; 
}

#istorija{
    text-decoration: underline;
    color: black;
    margin-left: 47%;
    font-size: 18px;
}

#team h2{
    margin-top: 40px;
    text-align: center;
}
.team-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-bottom: 50px;
}
.team-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 250px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.team-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.team-card h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}
.team-card p {
    font-size: 0.9em;
    color: #666;
}
#galerija{
    color: #333;
    font-size: 30px;
    padding-bottom: 50px;
    margin-left: 45%;
}

@media only screen and (max-width: 700px){
    .baner h2{
        text-align: center;
    }
    .Tabela1{
        margin-left: 12%;
    }
    #kolonaSlika{
        display: none;
    }
    #istorija{
        margin-left: 40%;
    }
    #galerija{
        margin-left: 30%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px ){
    .Tabela1{
        margin-left: 10%;
    }
    #kolonaSlika{
        display: none;
    }
    #istorija{
        margin-left: 45%;
    }
    #galerija{
        margin-left: 40%;
    }
}

