body{
    background: #7a3237;
}
#nazad{
    position: absolute;
    left: 5px;
    top: 60px;
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    font-family: Lobster,sans-serif;
}

#uvod{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: antiquewhite;
    font-family: Raleway, Roboto, sans-serif;
    font-size: 20px;
}

#naziv{
    font-family: Lobster, sans-serif;
    font-size: 50px;
    color: antiquewhite
}
#cena{
    font-size: 30px;
    color: rgb(236, 198, 72);
    font-family: Lobster, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.stavka:hover{
    background:antiquewhite;
    transition: background-color 0.3s ease;
}
.stavka:hover #naziv{
    color: #7a3237;
}
.stavka:hover #cena{
    color: #7a3237;
}